.btn-control {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  font-size: 2em;
  height: 40px;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 40px;
}
